{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumb %} &gt; <a href="/tuit/admin/tuitadmin">{% trans "Issue Administration" %}</a>{%endblock %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content_title %}<h1>{% trans "Administration backend" %}</h1>{% endblock %}


{% block content %}
 <div id="content-main">
  {% block applist %}
   {% load adminapplist %} {% get_admin_app_list as app_list %}
   {% if app_list %}
    {% for app in app_list %}
     {% block applist_app %}
      <div class="module">
       <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}" class='striped'>
	<caption>{% trans app.name %}</caption>

        {% block applist_app_modellist %}
	 {% for model in app.models %}
	  {% block applist_app_modellist_model %}
	   <tr>
	    {% if model.perms.change %}
	     <th scope="row"><a href="{{ model.admin_url }}">{{ model.name|escape }}</a></th>
	    {% else %}
	      <th scope="row">{{ model.name|escape }}</th>
	    {% endif %}

	    {% if model.perms.add %}
	     <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
	    {% else %}
	     <td>&nbsp;</td>
	    {% endif %}

	    {% if model.perms.change %}
	     <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
	    {% else %}
	     <td>&nbsp;</td>
	    {% endif %}
	   </tr>
	  {% endblock %}
	 {% endfor %}
        {% endblock %}
       </table>
      </div>
     {% endblock %}
    {% endfor %}
   {% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
   {% endif %}
 {% endblock %}
 </div>
{% endblock %}

{% block sidebar %}
<!--
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
                <li><h3>{% trans 'Recent Actions' %}</h3></li>
            {% if not admin_log %}
                <li>{% trans 'None available' %}</li>
            {% else %}
            {% for entry in admin_log %}
                <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr|escape }}{% if not entry.is_deletion %}</a>{% endif %} <span class="mini quiet">({{ entry.content_type.name|capfirst|escape }})</span></li>
            {% endfor %}
            {% endif %}
-->
{% endblock %}

