.pageactions span {
 display: block;
}

.pageactions span.foswikiAccessKey {
 display: inline;
}

.pageactions span.foswikiSeparator {
 display: none;
}

.foswikiFormTable input {
 width: 100%;
}

table {
 border-style: none;
}

.foswikiTable td {
 background-color: inherit;
}

.patternActionButtons .button {
 display: inline;
}

input.foswikiSubmitDisabled {
 background-color: #c4c2c2;
}