

body,
html,
.main_menu
{
    margin: 0%;
    padding: 0%;
    display:block;
    overflow:hidden;
}

body
{
    font-size: 80%;
    font-family: sans-serif;
}

.main_menu_inner
{
    background-color: white;
    padding: 0px;
    margin: 0%;
    border: 1px solid #000;

	border-radius-top-left: 6px;
    -moz-border-radius-topleft: 6px;
	-webkit-border-radius-top-left: 6px;

	border-radius-top-right: 10px;
    -moz-border-radius-topright: 10px;
	-webkit-border-radius-top-right: 10px;
height: 78px;
background-repeat: no-repeat;
background-position: top right;
background-image: url('bg2.jpg');
}

}

.main_menu_inner ul
{
    margin: 0%;
    padding: 1em;
}

.main_menu .logo
{
    padding-top: 4em;
    padding-bottom: 4em;
    font-weight: bold;
	
}

.main_menu li
{
    display: inline;
    list-style-type: none;
    padding-right: 1em;
    padding-left: 0%;
    margin: 0%;
}

.main_menu .selected
{
    font-weight: bold;
}

.main_menu a
{
    color: black;
    text-decoration: none;
}

.main_menu form,
.main_menu input
{
    display: inline;
}


th a:visited,
th a
{
    color:#fff;
}