table.wide
{
    width: 100%;
}

.disabled{
color:grey;
}

.ticket_hidden {
    display: none;
}

textarea
{
    width: 80%;
    height: 6em;
}

td.label
{
    width: 30%;
}

td input
{
    width: 80%;
    min-width: 30em;
}

td input.kb
{
    width: 50%;
}

.update_buttons
{
    float:right;
}

#kb_preview_hide
{
    margin: 2pt;
    float: right;
    display: block;
}

#kb_preview_content
{
    background-color: white;
    border: 1px solid #888;
}

.widget
{
    display: inline-block;
    width: 45%;
    min-width: 30em;
    margin: 1%;
    vertical-align: top;
    /*
      These two declarations fake inline-block under IE7
    */
    zoom: 1;
    *display: inline;
}

.widget.full_width
{
    width: 95%;
}

#ci_picker_root
{
    background-color: white;
    border: 1px solid #888;
    width: 80%;
}


.action_menu li.toc_h2
{
    margin-left: 1em;
}

.action_menu li.toc_h3
{
    margin-left: 2em;
}

div.help
{
    margin-right: 20%;
}

h3 {
    font-size:100%;
    font-weight: normal;
    font-style: italic;

}

h4 {
    font-size:100%;
    font-weight: normal;
    font-style: italic;
}

.action_menu input
{
    width: 60%;
}

.action_menu button
{
    max-width: 30%;
}

tr.emergency td.odd
{
    background: #ffeeee;
}

tr.emergency td
{
    background: #eedddd;
}