/**************** colors ****************/

* {
 color: #6c6c6c;
}

.menu_box {
 background-color: #c4c2c2;
 border-top-color: #ffffff;
}

.menu_box a,
.menu_box button {
 color: #ffffff;
}

.menu_box .active,
.menu_box .active * {
 background-color: #ffffff;
 color: #6c6c6c;
}

.menu_box1 {
 background-color: #6c6c6c;
 border-bottom-color: #9b9b9b;
}

.menu_box1 .user_info,
.menu_box2 .search {
 background-color: #9b9b9b;
}

.menu_box1 .user_info .logout_button,
.menu_box2 .search button {
 border-left-color: #ffffff;
}

.menu_box3 a {
 color: #6c6c6c;
}

.menu_box2 .search * {
 background-color: transparent;
 color: #ffffff;
}

table {
 background-color: #ecebeb;
}

td {
 border-color: #c4c2c2;
}

th {
 border-color: #ffffff;
 background-color: #c4c2c2;
}

table * {
 color: #6c6c6c;
}

.widget_header,
.widget_header * {
 background-color: #6c6c6c;
 color: #ffffff;
}

.messages .message {
 border-color: #6c6c6c;
}

.messages .message {
 color: #48b844;
}

.messages .error {
 color: #b84444;
}

/**** Styling of popups ****/
.popup {
 background-color: #ffffff;
 border-color: #000000;
}

.popup_title {
 background-color: #6c6c6c;
 color: #ffffff;
}

.popup_title a {
 color: #ffffff;
}

.popup_title a:hover  {
 background-color: #c4c2c2;
}

/**** Styling of mouseovers ****/
:hover.mouseoverowner .onmouseover {
 background-color: #ecebeb;
 border-color: #000000;
 color: #000000;
}

/**** Styling of floating figures ****/
.figure {
 border-color: #c4c2c2;
 background-color: #ffffff;
}


/**** styling for input fields ****/

.button,
.popupbutton,
input,
textarea,
select,
button {
 border-color: #6c6c6c;
}

.button,
.popupbutton,
button {
 background-color: #9b9b9b;
 color: #ffffff;
}

input,
textarea,
select {
 background-color: #ffffff;
 color: #6c6c6c;
}


/**************** images ****************/

.menu_box1 .logo {
 background-image: url("logo.gif");
}



/**************** fonts and text styles ****************/

* {
 font-family: sans-serif;
}

.menu_box a {
 text-decoration: none;
}

.menu_box .main_menu a,
.menu_box .breadcrumb a {
 font-weight: bold;
}

.action_menu a,
table a {
 text-decoration: none;
}

.action_menu a:hover,
table a:hover {
 text-decoration: underline;
}


/**** Styling of popups ****/
.popup_title {
 font-weight: bold;
}

.popup_title a {
 font-family: sans-serif;
}

.popup_title a:link,
.popup_title a:visited,
.popup_title a:hover  {
 text-decoration: none;
}

/**** Styling of floating figures ****/
.figure .caption {
 font-style: italic;
}

/**** styling for input fields ****/

.button,
.popupbutton,
.button:hover,
.popupbutton:hover {
 text-decoration: none;
}

/**************** sizes and distances ****************/

* {
 font-size: 8pt;
}

body {
 margin: 0;
}

.menu_box {
 margin: 0;
 border-top-style: solid;
 border-top-width: 1pt
}

.menu_box ul {
 margin: 0;
 list-style-type: none;
 padding-top: 2pt;
 padding-bottom: 2pt;
}

.menu_box ul li {
 padding: 2pt;
 margin-right: 2pt;
 display: inline;
}

.menu_box ul li:first-child {
 padding-left: 0;
}


.menu_box1 {
 border-top-style: none;
 border-bottom-style: solid;
 border-bottom-width: 1pt;
 list-style-type: none;
}

.menu_box1 .logo {
 background-position: 0 100%;
 background-repeat: no-repeat;
 margin-left: 13%;
 margin-bottom: 10pt;
 width: 30%;
 height: 38pt;
 float: left;
}

.menu_box2 .search {
 position: absolute;
 top: 8pt;
 right: 0;
}

.menu_box1 .user_info {
 float: right;
 padding-left: 2pt;
 margin-top: 25pt;
 margin-bottom: 8pt;
}

.menu_box1 .user_info,
.menu_box2 .search {
 padding-left: 2pt;
 margin-right: 13%;
 padding-top: 0;
 padding-bottom: 0;
}

menu_box1 .user_info {
 margin-top: 25pt;
 margin-bottom: 10pt;
}

.menu_box1 .user_info .username,
.menu_box2 .search input {
 padding-right: 2pt;
}

.menu_box1 .user_info .logout_button,
.menu_box2 .search button {
 padding: 0;
 border-left-style: solid;
 border-left-width: 1pt;
}

.menu_box1 .user_info .logout_button a {
 display: inline-block;
 padding-left: 1pt;
 padding-right: 1pt;
 padding-top: 2pt;
 padding-bottom: 2pt;
 width: 34pt;
}

.menu_box2 .search button {
 display: inline-block;
 width: 39pt;
}

.menu_box1 .user_info,
.menu_box2 .search {
 width: 200pt;
 text-align: right;
}

.menu_box2 .main_menu,
.menu_box3 .breadcrumb {
 float: left;
 margin-left: 13%;
 padding-top: 2pt;
 padding-left: 0;
 padding-right: 0;
 padding-bottom: 2pt;
}


.menu_box2 .search * {
 border: none;
 padding: 2pt;
 margin: 0;
 -moz-border-radius-topleft: 0;
 -moz-border-radius-topright: 0;
 -moz-border-radius-bottomleft: 0;
 -moz-border-radius-bottomright: 0;
 -webkit-border-top-left-radius: 0;
 -webkit-border-top-right-radius: 0;
 -webkit-border-bottom-left-radius: 0;
 -webkit-border-bottom-right-radius: 0;
}

.menu_box2 .search button {
 padding: 1pt;
}

.action_menu,
.content {
 left: 13%;
 padding-top: 50pt;
 position: absolute;
}

.action_menu {
 width: 100pt;
 z-index: 1;
}

.action_menu ul,
.action_menu .action_menu_item {
 margin-top: 0;
 margin-bottom: 16pt;
 padding-left: 0;
 list-style-type: none;
}

.action_menu ul li {
 margin-bottom: 4pt;
}

.action_menu ul h2,
.action_menu .action_menu_item h2 {
 margin-top: 0;
}

.content {
 right: 13%;
 padding-top: 25pt;
 padding-left: 130pt;
}

.content_inner h1:first-child {
 margin-top: 0;
}

.content select,
.content input,
.content textarea {
 min-width: 150pt;
}

.content_post {
 clear: both;
}

.widget {
 float: left;
 margin-right: 10pt;
 margin-bottom: 10pt;
}

.widget_1 {
 width: 300pt;
}

.widget_2 {
 width: 610pt; /* 300*2 + 10, the 10 being for margin */
}

.widget_header {
 padding: 4pt;
}

.widget_header h2 {
 font-size: 12pt;
 margin: 0;
}

.widget table {
 width: 100%;
}

.copyright {
 clear: both;
 text-align: center;
 padding-top: 10pt;
 padding-bottom: 10pt;
 padding-right: 130pt;
}

table {
 border-collapse: collapse;
}

td, th {
 border-bottom-style: solid;
 border-bottom-width: 1pt;
}

tr:last-child td {
 border-bottom-style: none;
}

td, th {
 vertical-align: top;
 padding-left: 5pt;
 padding-right: 5pt;
 text-align: left;
}

thead th {
 border-top-style: solid;
 border-top-width: 2pt;
 border-bottom-width: 2pt;
}

.ciColumn .content td input
{
    width: 8em;
}


/**** Styling of popups ****/
.popup {
 display: none;
 position: absolute;
 left: 13%;
 margin-left: 130pt;
 padding-top: 25pt;
 top: 10%;
 border-width: 1px;
 border-style: solid;
 padding: 0px;
 z-index: 3;
}

.popup_content {
 padding: 5px 15px;
}

.popup_title {
 padding: 3px;
}

.popup_title a {
 position: absolute;
 right: 0px;
 top: 0px;
 padding: 3px 6px;
 margin: 0px;
}

/* Styling of mouseovers */
.onmouseover {
 display:none;
}

.mouseoverowner {
 position: relative;
}

:hover.mouseoverowner .onmouseover {
 display: block;
 *display: none; /* IE7 hack */
 _display: none; /* IE6 hack */
 position: absolute; 
 top: 20px;
 left: 40; 
 width: 250pt;
 border-width: 1px;
 border-style: solid;
 z-index: 4;
 font-size: small;
 padding: 5px 15px;
}

/* Styling of floating figures */
.figure {
 float: left;
 margin: 1em 1em 0em 0em;
 padding: 0.5em;
 border-width: 1px;
 border-style: solid;
 overflow: auto;
 text-align: center;
}

.figure img,
.figure object {
 display:block;
}

/**** styling for input fields ****/
.button,
.popupbutton,
input,
textarea,
select,
button {
 margin: 1pt;
 border-width: 1pt;
 border-style: solid;
 -moz-border-radius-topleft: 3pt;
 -moz-border-radius-topright: 3pt;
 -moz-border-radius-bottomleft: 3pt;
 -moz-border-radius-bottomright: 3pt;
 -webkit-border-top-left-radius: 3pt;
 -webkit-border-top-right-radius: 3pt;
 -webkit-border-bottom-left-radius: 3pt;
 -webkit-border-bottom-right-radius: 3pt;
}

.content .button,
.content .popupbutton,
.button,
.popupbutton {
 padding: 1pt;
 display: block;
 text-align: center;
 min-width: 0;
}

.messages {
 padding-top: 15pt;
 padding-bottom: 15pt;
 padding-left: 128pt;
 padding-right: 15pt;
 margin-top: 15pt;
 margin-bottom: 15pt;
 margin-left: 13%;
 margin-right: 13%;
 border-width: 2pt;
 border-style: solid;
}

.messages * {
 font-size: 12pt;
}

/**************** float hacks ****************/

.endbox {
 clear: both;
}

/**************** TOC *********************/

.toc_h2
{
 padding-left: 1em;   
 list-style-type: none;
}
.toc_h1
{
 padding-left: 0em;   
 list-style-type: none;
}
