<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
<html>
{% load i18n %}
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    
{% for i in css_links %}    
    <link rel="stylesheet" href="{{ i.url }}" type="text/css" media="{{ i.media|default:"screen,projection" }}">
{% endfor %}
{% for i in js_links %}    
    <script type="text/javascript" src="{{ i }}"></script>
{% endfor %}
    
    <title>{{ title|escape }}</title>

    <script type="text/javascript">
      
      tinyMCE.init({
      mode : "specific_textareas",
      editor_selector : "rich_edit",
      theme : "advanced",
      theme_advanced_buttons1 : "bold,italic,underline,strikethrough,separator,justifyleft,justifycenter,justifyright,justifyfull,separator,bullist,numlist,separator,undo,redo,link,unlink",
      theme_advanced_buttons2 : "",
      theme_advanced_buttons3 : "",
      theme_advanced_toolbar_location : "top",
      theme_advanced_toolbar_align : "left"
      });

Date.format = '{{ js_date_format }}';


    </script>
  </head>
  
  <body>
  <div class='menu_boxes no_print'>
   <div class='menu_box menu_box1'>
    <div class='logo'></div>
    <ul class='user_info'>
     <li class='username'>{{ user.tuit_description }}</li>
     <li class='logout_button'><a href='/tuit/account/logout'>{%trans "Log out" %}</a></li>
    </ul>
    <div class='endbox'></div>
   </div>
   <div class='menu_box menu_box2'>
    <div class='main_menu_target'></div>
    <div class='endbox'></div>
   </div>
   <div class='menu_box menu_box3'>
    <div class='breadcrumb'><a href='/tuit'>{%trans "Home" %}</a>{%block breadcrumb %}{%endblock %}</div>
    <div class='endbox'></div>
   </div>
  </div>
    
{%if messages %}
<div class='messages no_print'>
<div class='messages_inner'>
{{messages}}
</div>
</div>
{%endif %}

<div id='debug'>
</div>

<div class='action_menu no_print'>
  <!-- ul class='goto_user'>
    <li><h2>{% trans "Show User" %}</h2></li>
    <li>
      <form accept-charset='utf-8' method='get' action='/tuit/account/show/' >
	<input name='username' class='user'/> <button type='submit'>{% trans "Search" %}</button>
      </form> 
    </li>
  </ul -->

  <ul class='recent_updates'>
    {{ recent_updates.html }} 
    {%block sidebar %}
    {%endblock %}
  </ul>

  <ul class='comment_target'></ul>
</div>
{%block content_wrapper %}
 <div class='content'>
   <div class='content_inner'>

<!--     <h1><a name='top'>{{ title|escape }}</a></h1> -->

     {%block content %}
     {%endblock %}

     <div class='content_post'>
     </div>
   </div>
   <div class='copyright'>
     <a href='http://www.freecode.no'>© 2010 Freecode AS</a>
   </div>
 </div>
{%endblock %}

<script type='text/javascript'>
  stripe();
</script>
  </body>
</html>
