{% extends "ticket.html" %}
{% load tuit_extras %}
{% load i18n %}



{%block content %} 
<h2>{% trans "Table of contents" %}</h2>
<ul class='toc'>
</ul>
<script>
$(document).ready(function () {
tuit.makeTOC('.toc');
});
</script>

<div class='help'>

<h1><a name='help'>Help</a></h1>
<p>


Dette er hovedsiden for hjelp i {{ application|escape}}. {{ application|escape}} er "The Ultimate ITIL
Toolbox", en samling programvarekomponenter som er konstruert for
å støtte opp under ITIL-basert arbeidsflyt for tjenesteadministrasjon. 
{{ application|escape}} består av følgende komponeneter:

<ul>
  <li><a href=''>Et sakshåndteringssystem</a>, basert på <a href='http://roundup.sourceforge.net/'>Roundup</a></li>

  
  <li>
    <a href='#concepts_cmdb'>En CMDB</a> basert
    på <a href='/FreeCMDB/help'>FreeCMDB</a>. For mer informasjon om begrepet CMDB se
	 <a href='http://en.wikipedia.org/wiki/CMDB'>denne Wikipedia-artikkelen om CMDB</a>.
  </li>

  <li>
    <a href='#concepts_kb'>En kunnskapsbase</a>, basert
    på <a href='http://foswiki.org/'>Foswiki</a>. For mer informasjon om 
	begrepet kunnskapsbase, se <a href='http://en.wikipedia.org/wiki/Knowledge_base'>denne Wikipedia-artikkelen om kunnskapsbaser</a>.
  </li>
</ul>
</p>

<h1><a name='overview'>Oversikt over brukergrensesnittet</a></h1>
<p>
  Denne delen beskriver de grunnleggene elementene i brukergrensesnittet
  for {{ application|escape}}.  Disse elementene er de samme i alle komponenter, slik at for
  eksempel kunnskapsbasen ser ut som og fungerer så likt CMDB-delen som
  det er mulig uten at det går ut over funksjonaliteten i komponentene.

</p>

<h2><a name='overview_topmenu'>Menyen øverst i skjermbildet</a></h1>
<p>
  Menyen øverst i skjermbildet brukes til å gå til de forskjellige 
  delene av nettstedet.  Denne menyen endres normalt ikke etter hvilken
  del av {{ application|escape}} du bruker, men siden forskjellige brukere har adgang til
  forskjellige deler av nettstedet, vil innholdet variere etter hvem
  som er logget inn.
</p>
<p>
  Menyen øverst i skjermbildet gir deg også mulighet til å søke raskt 
  i systemet.  Du skriver nøkkelord inn i søkefeltet og trykker på «enter»-tasten. 
  For mer informasjon om søking see <a href='#search'>søk</a>.
</p>

<h2><a name='overview_leftmenu'>Menyen til venstre</a></h1>

<p>
  Menyen til venstre på hver enkelt side inneholder koblinger og 
  alternativer som tilhører den aktuelle siden.  Denne menyen vil 
  for eksempel vise andre alternativer i kunnskapsbasen enn det som
  vises i CMDB-modulen.
</p>

<h2><a name='overview_content'>Hovedområdet eller innholdsområdet</a></h1>
<p>
  Resten av skjermbildet kalles innholdsområdet.  Dette er området der
  data fra applikasjonene blir vist. Hvilket innhold som vises i 
  dette området er avhengig av hvilken side du har fremme.
</p>


<h1><a name='home'>Hjem-skjermbildet</a></h1>
<p>
  Dette er startsiden for {{ application|escape}}.  En fremtidig versjon av {{ application|escape}} vil
  inneholde et "dashbord" som brukeren kan konfigurere til å vise 
  forskjellige typer statusinformasjon og meldinger, men i nåværende
  utgave er Hjem-skjerbildet mer begrenset.  Siden inneholder følgende elementer:
  <ul>

    <li>
      En liste over alle saker av type <a href='#concepts_incident'>Incident</a> som er tildelt pålogget bruker, sortert etter prioritet.
    </li>
    <li>
      En liste over alle saker av type <a href='#concepts_problem'>Problem</a> som er tildelt pålogget bruker, sortert etter prioritet.
    </li>
    <li>

      En liste over alle saker av type <a href='#concepts_rfc'>RfC</a> som er tildelt pålogget bruker, sortert etter prioritet.
    </li>
  </ul>
</p>

<h1><a name='search'>Søke i {{ application|escape}}</a></h1>
<p>
  {{ application|escape}} har en funksjon for globalt søk, som søker i alle komponenter i systemet. 
  Hvis du vil utføre et raskt søk, skriver du et søkeord i søkefeltet 
  i øverste høyre hjørne av en {{ application|escape}}-side og trykker på «enter»-tasten.
</p>
<p>

  Hvis et søk gir mange resultater, blir bare de første ti resultatene 
  vist, og brukeren kan trykke på en knapp for å få se flere resultater.
</p>
<h2><a name='search_types'>Typer av søk</a></h2>
<p>
  {{ application|escape}} viser følgende typer søkeresultater:

  <ul>
    <li>
      <em><a href='#concepts_issue'>Saker</a></em>. Dette viser saker av type Incident, Problem og
      RfC.  Utfører fritekstsøk i tittel, beskrivelse, alle oppdateringer og navnet til brukeren
      som opprettet saken.  Alle avanserte søkealternativer fungerer.
    </li>
    <li>

      <em><a href='#concepts_cmdb'>CI</a></em>. Dette viser alle elementer fra konfigurasjonsdatabasen som passer. 
	Utfører fritekstsøk i CI-navn. Ingen avanserte søkealternativer fungerer.
    </li>
    <li>
      <em><a href='#concepts_kb'>Kunnskapsbase</a></em>. Dette viser alle elementer i kunnskapsbasen 
      som passer. Utfører fritekstsøk i tittel, kunnskapsbase-skjemaet og teksten i kunnskapsbasen. 
      Ingen avanserte søkealternativer fungerer.
    </li>
    <li>
      <em>Brukersøk</em>. Dette viser alle brukere som passer søkeordet. Utfører fritekstsøk
      i brukernavn, fornavn og etternavn. Ingen avanserte søkealternativer fungerer.
    </li>
  </ul>

</p>

<h2><a name='search_advanced'>Avansert søk</a></h2>
<p>
  Hvis du vil angi flere søkealternativer, klikker du på knappen «Avansert søk» 
  i søkeresultat-siden.  Der kan du legge inn flere kriterier som prioritet,
  oppdateringsdato og flere andre. Merk at ikke alle typer søkefiltre kan 
  brukes for alle søk, for eksempel vil brukersøk se bort fra alle filtre
  utenom søketeksten.
</p>


<h1><a name='issues'>Saksadministrasjon i {{ application|escape}}</a></h1>

<p>

  Modulen for sakshåndtering i {{ application|escape}} er løselig basert på 
  <a href='http://roundup.sourceforge.net/'>Roundup</a>.  Modulen 
  håndterer administrasjon av saker av type Incident, Problem og Requests for
  Change gjennom saksbehandlingen i IT-organisasjonen.
  

</p>
<h2><a name='issues_types'>Sakstyper</a></h2>
<p>
  {{ application|escape}} er basert på 3 typer saker:
  <ul>
    <li>
      <em>Incident</em> er saker som har ført til tjenesteavbrudd eller 
      kan føre til det i fremtiden, og som må håndteres før det oppstår
      brudd på en SLA.
    </li>
    <li>
      <em>Problem</em> er saker med støtte for "root cause analysis" for en eller
      flere saker av type Incident.
    </li>

    <li>
      <em>RfC</em> Eller Request for Change, er saker som styrer utrulling av
      en endring i en tjeneste, ofte utløst av sak av type Problem.
    </li>
  </ul>  
</p>

<h2><a name='issues_creating'>Opprette en ny sak</a></h2>
<p>
For hver <a href='#issues_types'>sakstype</a> finnes det en tilsvarende
kobling i menyen øverst i {{ application|escape}}-skjermbildet for å legge inn en sak av
angitt type.  Bruk disse koblingene for å opprette nye saker.  
Hvert av alternativene fører videre til et skjema der forskjellige 
felter skal fylles ut.
</p>
<p>
Når du er ferdig med utfyllingen, klikker du på knappen «Lag sak» nederst på siden, og du har opprettet saken.
</p>
<h3><a name='issues_creating_user'>Fylle ut brukerfelter</a></h3> 
<p>
  Saker kan ha mange brukere tilknyttet, inkludert den som opprettet
  saken, personen som er tildelt en spesiell sak, og så videre. Alle 
  felt i {{ application|escape}} for brukere har autofullføringsfunksjon.  Autofullføringen 
  søker i brukernavn, fornavn og etternavn etter brukere når den 
  utfører fullføringen.
</p>
<p>
Det finnes flere varianter av hvordan brukerfelter fungerer:
<ul>
  <li>
    Noen brukerfelter tillater bare en enkelt bruker.  Slike tekstfelter
    består av kun én linje. Andre tillater et vilkårlig antall brukere. 
    Disse tekstfeltene består av flere linjer.
  </li>

  <li>
    Noen brukerfelter tillater bare at det angis registrerte brukere,
    mens andre i tillegg tillater at du skriver inn e-postadresser. 
    Hvis du har lagt inn en e-postadresse en gang, vil den bli lagt
    til {{ application|escape}} som en kontakt.  Når det blir mottatt e-post om en sak, 
    blir det også opprettet en kontakt.  Disse kontaktene kan også brukes
    til autofullføring der det er relevant, og det er mulig å 
    <a href='/tuit/admin/ticket/contact/'>redigere</a> dem i 
    <a href='#concepts_admin'>administratorgrensesnittet</a>.
  </li>
</ul>
</p>

<h3><a name='issues_creating_issues'>Fylle ut koblinger til andre saker</a></h3>
<p>
  Saker kan ha avhengighetsforhold til andre saker.  Feltet for å endre
  forbindelse mellom saker bruker autofullføring.  Autofullføringen søker
  i sakstittel, beskrivelse og teksten for alle oppdateringer.

</p>

<h3><a name='issues_creating_ci'>Fylle ut koblinger til CI-er</a></h3>
<p>
  Saker kan være knyttet til konfigurasjonselementer (configuration item - CIs), altså
  objekter som er lagret i CMDB-delen av {{ application|escape}}.  Feltet for å endre CI-tilknytninger
  bruker autofullføring.  Autofullføringen søker i CI-navn.  I tillegg finnes det 
  en annen metode for å angi en CI, nedboringsfunksjonen i CMDB.  Dette er en
  trestruktur med alle kjente CI-er som kan foldes ut selektivt for å bore ned
  gjennom avhengighetene til ønsket objekt er funnet.  Se delen om <a href='#cmdb_navigation'>navigering i CMDB</a> for mer informasjon.
</p>
<h3><a name='issues_creating_quickfills'>Bruke hurtigutfylling til å fylle ut vanlige felt automatisk</a></h3>
<p>
  Service desk opplever ofte at mange saker er svært like.  Dette kan
  skyldes et felles, bakenforliggende problem som det er behov for å
  løse, eller rett og slett fordi brukerne har tendens til å komme ut
  for de samme typene av problemer.  For å gjøre det enklere å opprette
  slike gjentatte saker, har {{ application|escape}} en funksjon kalles hurtigutfylling. 
  Dette er en enkel rullegardinmeny med «maler» for vanlige sakstyper. 
  Hvis du velger en mal, vil en del av feltene bli fylt ut automatisk for deg.
  Hvilke felter som blir fylt ut og de konkrete verdiene som brukes for
  forskjellige hurtigutfyllinger kan endres i <a href='#concepts_admin'>administrasjonsgrensesnittet</a>.

</p>
<p>
  Se delen om å <a href='#admin_quickfill'>endre tilgjengelige hurtigutfyllinger</a> for mer informasjon om å tilpasse listen over tilgjengelige hurtigutfyllinger.
</p>

<h3><a name='issues_creating_copy'>Opprette en ny sak basert på en annen sak</a></h3>
<p>
  Det er også mulig å lage en ny sak ved å basere den nye saken på en annen sak. 
  Slik går du frem for å lage en ny sak på denne måten:
  <ol>
    <li>
      Gå først til siden for den opprinnelige saken.  Alle e-postmeldinger fra
      {{ application|escape}} om saken inneholder en kobling til saken, eller du kan finne en 
      oppdatering ved å <a href='#search'>søke i {{ application|escape}}</a> eller lete på din egen <a href='#home'>hjemmeside</a>.
    </li>
    <li>
      Når du har kommet til riktig side, klikker du på knappen «Lag ny sak basert på denne» øverst i skjermbildet.
    </li>
    <li>
      Dette fører til en liten dialogboks på skjermen der du blir spurt om hvilken type
      sak du vil opprette.  Velg ønsket sakstype fra rullegardinmenyen og trykk på
      knappen «Lagre».
    </li>

    <li>
      Det samme skjemaet for oppretting av sak blir vist som når du velger
      en av koblingene fra menyen øverst i skjermbildet, men de følgende
      feltene blir kopiert fra den opprinnelige saken:
      <ul>
	<li>Sakstittel</li>
	<li>Beskrivelse av saken</li>
	<li>Sakskategori</li>
	<li>Sakens omfang</li>

	<li>Sakens hastegrad</li>
	<li>Hvem som åpnet saken</li>
	<li>Bruker som er tildelt saken</li>
	<li>Personer som skal ha kopi (CC:) om saken</li>
	<li>Brukere som er medansvarlige for saken</li>
      </ul>

    </li>
  </ol>
</p>

<h2><a name='issue_update'>Oppdatere en sak</a></h2>
<p>
  Det finnes to måter å oppdatere en sak.  Den første er gjennom 
  web-grensesnittet, den andre er via e-post.
</p>
<h3><a name='issue_update_email'>Oppdatere en sak via e-post</a></h3>
<p>
  Hvis du vil lage en oppdatering via e-post, svarer du på en e-post som
  er sendt fra {{ application|escape}}. Innholdet i e-postmeldingen, inkludert eventuelle
  vedlagte filer, blir lagt til som en oppdatering av saken. Hvis saken var 
  lukket, blir den åpnet på nytt, men ellers blir ingen feltverdier endret.
</p>

<h3><a name='issue_update_web'>Oppdatere en sak via web-grensesnittet</a></h3>
<p>
  Oppdatering av en sak via web-grensesnittet gir adgang til mer detaljert
  kontroll over en oppdatering. Det er mulig å endre verdiene for alle felt 
  i en sak, bortsett fra tittel og opprinnelig problembeskrivelse. Det er
  mulig å angi eksplisitt hvem som skal ha varsling via e-post om oppdateringen,
  og det er mulig å gjøre oppdateringen intern, det vil si å skjule den 
  for ikke-priviligerte brukere.
</p>
<p>
  Hvis du vil oppdatere en sak, går du først til websiden for saken. En
  kobling til den aktuelle siden skal være med i alle e-postmeldinger
  om saken fra {{ application|escape}}-systemet, eller du kan finne oppdateringen ved å 
  <a href='#search'>søke i {{ application|escape}}</a> eller å lete på <a href='#home'>hjemmesiden</a>. 
  Når du har kommet frem til riktig side, klikker du på knappen «Legg til oppdatering» 
  nederst i skjermbildet.

  Hvis du vi ha mer informasjon om å endre spesifikke typer av felt,
  for eksempel automatisk fullføring av brukernavnfelter, kan du se
  i delen om å <a href='#issues_creating'>opprette saker</a>.
</p>

<h3><a name='issue_update_kb'>Bruke en saksoppdatering som basis for en kunnskapsbase-artikkel</a></h3>

<p>
  Når en sak har blitt løst, kan det være ønskelig å gjøre løsningen tilgjengelig
  for andre som en artikkel i kunnskapsbasen.  Dette kan bidra til å redusere
  tiden det tar å løse tilsvarende saker betydelig ved senere anledninger.
  Derfor gjør {{ application|escape}} det så enkelt som mulig å gjøre akkurat dette.  De 
  nødvendige stegene er som følger:
</p>

<ol>
  <li>
    Finn frem til saken som har den aktuelle oppdateringen og bla deg frem 
    til riktig oppdatering.
  </li>

  <li>
    Klikk på knappen «Lag KB-artikkel utifra oppdatering».
  </li>

  <li>
    Det kommer frem en liten dialogboks der du kan velge navn for
    artikkelen (standardverdien er tittelen til saken) og velge hvilken
    del av kunnskapsbasen du skal bruke. Trykk på knappen «Send» 
    når du er ferdig.
  </li>

  <li>
    Fyll ut hovedskjemaet for kunnskapsbase-artikkelen og gjør eventuelt
    de endringene i hovedteksten i artikkelen som er nødvendige.  Trykk på
    knappen «Lagre» når du er ferdig for å opprette artikkelen i kunnskapsbasen.
  </li>
</ol>

<h3><a name='issue_update_kb2'>Bruke en artikkel fra kunnskapsbasen som basis for oppdatering av sak</a></h3>

<p> En kunnskapsbase er nyttig bare hvis den blir brukt. Av den grunn gjør
  {{ application|escape}} det så enkelt som mulig å bruke informasjon fra kunnskapsbasen 
  ved oppdatering av en sak.  Nedenfor tekstfeltet for kommentar i en 
  oppdatering ligger et tekstfelt til.  Når du skriver i dette feltet,
  søker {{ application|escape}} i kunnskapsbasen og viser deg en liste med <a href='#concepts_autocompletion'>automatisk fullføring</a> 
  over artikler med tittel eller innhold som svarer til teksten i feltet. Når 
  en artikkel er valgt, kan brukeren enten trykke på knappen «Forhåndsvis»
  for å se en forhåndsvisning av artikkelinnholdet, eller trykke på 
  knappen «Sett inn» for å sette inn artikkelinnholdet i oppdateringen.
</p>


<h1><a name='cmdb'>{{ application|escape}} CMDB</a></h1>

<h2><a name='cmdb_navigation'>Navigere i CMDB</a></h2>

<p>
  Vanligvis er den enkleste måten å finne frem i CMDB å gå via avhengigheter. 
  CMDB-startsiden inneholder en liste over passende start-noder. Hver av
  disse nodene har en liten knapp på siden med et plusstegn (+). Klikk på
  plusstegnet for å utvide og vis alle noder som er knyttet til denne noden.
  Ved å gjenta denne metoden er det mulig å gå inn i datamengden til
  ønsket CI er funnet. Da klikker du helt enkelt på CI-en for å gå til 
  hovedsiden for CI-en.
</p>
<p>
  Det samme grensesnittet er tilgjengelig også for å legge til nye CI-avhengigheter,
  enten i CMDB eller sakshåndteringssysstemet.
</p>

<h3><a name='cmdb_navigation_root'>Endre startpunkter for navigering i CMDB</a></h3>
<p>
  Hvis du vil endre listen over CI-er som vises ved starten av utforsking av
  trestrukturen, oppdaterer du avhengighetene for CI-en med navnet «Root».
</p>

<h2><a name='cmdb_create'>Lage og oppdatere CI-er</a></h2>
<p>
  Det er enkelt å lage CI-er.  Du trykker på knappen «Skap nytt element» i 
  menyen til venstre og begynner å redigere på elementet. Oppdatering av
  eksisterende elementer kan skje på to måter:
  <ul>
    <li>
      Trykk på knappen «Forandre» for et enkeltfelt i en CI hvis du vil redigere feltet.
    </li>

    <li>
      Klikk på koblingen «Forandre» i menyen til venstre for å få frem et skjema der
      alle felter for CI-en kan redigeres samtidig.
    </li>
  </ul>
</p>

<h2><a name='cmdb_history'>Bruke historie-funksjonen</a></h2>
<p>
  Alle endringer som noengang er utført på en CI blir lagret.  Hvis du vil
  se hvilke endringer som er gjort, kan du følge koblingen «Historie» 
  i menyen til venstre for en CI.  En liste over alle endringer blir vist. 
  Hvis du vil se en spesiell versjon av en CI, kan du klikke på knappen «Vis» 
  ved siden av ønsket versjon. Det er også mulig å gå tilbake på alle endringer
  som er gjort etter en bestemt endring.
</p>

<h2><a name='cmdb_ci_types'>Konfigurere CI-typer</a></h2>
<p>
  Hvilke typer CI som er tilgjengelige (for eksempel Server, Tjeneste, Brannmur) som er tilgjengelige er fritt konfigurertbart. Slik konfigurerer du disse:
</p>
<ol>
  <li>Åpne administrasjonsgrensesnittet.
    {% if user.is_staff %}
    Det finner du <a href='/tuit/admin/'>her</a>.
    {% endif %}
  </li>
  <li>Klikk på koblingen CMDB-administrasjon.</li>
  <li>Klikk på elementet «CI-typer» i menyen til venstre.</li>
  <li>Gjør de endringene det er behov for i listen over CI-typer, og trykk på «Oppdater».</li>
</ol>

<h2><a name='cmdb_ci_types'>Konfigurere CI-felter</a></h2>
<p>
  Hvilke felter som er tilgjengelige for de enkelte CI-typene er fritt konfigurerbart. Slik konfigurerer du disse:
</p>
<ol>
  <li>Åpne administrasjonsgrensesnittet.
    {% if user.is_staff %}
    Det finner du <a href='/tuit/admin/'>her</a>.
    {% endif %}
  </li>
  <li>Klikk på koblingen CMDB-administrasjon.</li>
  <li>Klikk på elementet «CI-kolonner» i menyen til venstre</li>
  <li>Gjør de endringene det er behov for i listen over CI-kolonner, og trykk på «Oppdater».</li>
</ol>
<p>
  Det er sterkt anbefalt at standardkolonnen (som brukes til CI-beskrivelse og liknende) 
  blir beholdt som uformatert teksttype.
</p>


<h1><a name='kb'>{{ application|escape}} Kunnskapsbase</a></h1>
<p>
{{ application|escape}} bruker Foswiki som sitt kunnskapsbasesystem. Foswiki leveres med en 
stor mengde dokumentasjon.  Koblingene nedenfor er noen av de mest relevante
sidene med nytting informasjon om bruk av kunnskapsbasen:
</p>

<ul>
  <li><a href='/cgi-bin/foswiki/view/System/TwentyMinuteTutorial'>En tjue minutters opplæring i Foswiki</a> (Engelsk)</li>
  <li><a href='/cgi-bin/foswiki/view/System/UsersGuide'>Brukerhåndbok</a> (Engelsk)</li>
  <li><a href='/cgi-bin/foswiki/view/System/FrequentlyAskedQuestions'>Vanlige spørsmål</a> (Engelsk) - denne er også en nyttig kilde for tips om hvordan du setter opp en kunnskapsbase.</li>
  <li><a href='/cgi-bin/foswiki/view/System/ReferenceManual'>Referansehåndbok</a> (Engelsk) - mest nyttig for administratorer.</li>
</ul>


<h1><a name='comments'>{{ application|escape}}s kommentarsystem</a></h1>
<p>
  {{ application|escape}} har et innebygd kommentarsystem som gir deg mulighet til å legge inn
  kommentarer på alle sider i {{ application|escape}}. Kommentarene blir vist til venstre i skjermbildet.
  Alle brukere som har tilgangsprivilegier til å se kommentarer vil se alle kommentarer
  du legger inn ved å gå til samme side, og du vil se alle kommentarer andre brukere har lagt inn.
</p>
<h2><a name='comments_editing'>Endre eller fjerne kommentarer</a></h2>
<p>
  Gamle kommentarer kan redigeres via <a href='#concepts_admin'>administrasjonsgrensesnittet</a>. 
  Gå til kommentardelen, finn frem den aktuelle kommentaren og enten rediger eller fjern den. 
  Merk at alle brukere har mulighet til å endre kommentarer som andre har lagt inn
  ved hjelp av administrasjonsgrensesnittet.  Bruk med forsiktighet!
</p>


<h1><a name='log'>Vise hendelseslogg</a></h1>
<p>
  Viktige hendelser i {{ application|escape}}-systemet blir logget i {{ application|escape}}s egen hovedlogg. 
  Per i dag blir hendelser i kunnskapsbasen og CMDB ikke logget i hovedloggen,
  men dette vil bli endret i en fremtidig versjon av {{ application|escape}}.
</p>
{% if user.is_staff %}
<p>
  Loggen er tilgjengelig <a href='/tuit/log/'>her</a>.  Det er finnes også en 
  kobling på hovedsiden i administrasjonsgrensesnittet.
</p>
{% else %}
<p>
  Du har ikke tilstrekkelige privilegier til å se på hendelsesloggen. 
  Hvis du hadde tilstrekkelig tilgang, ville loggen vært tilgjengelig <a href='/tuit/log/'>her</a>. 
  Det ville også vært en kobling tilgjengelig fra hovedsiden i administrasjonsgrensesnitttet.
</p>
{% endif %}

<h1><a name='admin'>{{ application|escape}}-administrasjon</a></h1>
<p>
  {{ application|escape}} er et verktøy med svært omfattende tilpasningsmuligheter. 
  Denne delen handler om noen av måtene det er mulig å tilpasse {{ application|escape}} 
  til ditt arbeidsmiljø.

  {% if user.is_staff %} 

  Du har administrstorrettigheter, så du kan fritt utforske <a href='/tuit/admin/doc/'>administrasjonsgrensesnittet</a>.

  {% else %} 

  Siden du ikke har administratorrettigheter på dette systemet, har du ikke
  adgang til å tilpasse denne {{ application|escape}}-installasjonen.

  {% endif %}
</p>

<h2><a name='admin_status_category'>Endre listen over tilgjengelige statuser og kategorier</a></h2>
<p>
  Statuser og kategorier for saker kan redigeres via <a href='/tuit/admin'>administrasjonsgrensesnittet</a>. 
  Hovedsiden i administratordelen har koblinger til sider for å redigere listen over 
  tilgjengelige statuser og kategorier. Disse koblingene fører til vanlige webgresnesnitt som
  gir mulighet til å legge til, redigere og fjerne elementer i listene.
</p>

<h2><a name='admin_properties'>{{ application|escape}}s egenskapstabell</a></h2>
<p>
  {{ application|escape}} lagrer så mye som mulig av systemkonfigurasjonen sin i
  databasen for å gjøre det enklere å konfigurere systemet kun ved bruk
  av webgrensesnitt.  Mange viktige systeminnstillinger er lagret i
  tabellen Properties. Data i denne tabellen er lagret i 
  dataserialiseringsformatet JSON.  Ikke rediger innstillinger i tabellen
  Properties hvis du ikke er sikker på at du vet hva du gjør.  Konsekvensen
  kan være at systemet slutter å virke.  En fremtidig versjon av {{ application|escape}}
  vil ha et brukervennlig grensesnitt for denne delen av systemet.
</p>

<h2><a name='admin_email_templates'>Endre innholdet i e-postmeldingene {{ application|escape}} sender</a></h2>
<p>
  {{ application|escape}} er konstruert for å kunne brukes via enten web-grensesnitt eller
  via e-post. Når en sak blir oppdatert via e-post, blir det sendt en
  oppdatering til personene som er knyttet til saken. I web-grensesnittet
  kan brukeren spesifikt velge hvilke personer eller parter som skal 
  motta en spesifikk oppdatering.  Men for at {{ application|escape}} skal være i stand til
  å sende disse e-postmeldingene, må det først lages maler for e-postene. 
  Dette gjøres via <a href='#concepts_admin'>administrasjonsgrensesnittet</a>.
</p>
<p>
  Slik redigerer du e-postmalene:
</p>
<ol>
  <li>
    Gå til <a href='/tuit/admin/'>administrasjonsgrensesnittet</a>.
  </li>
  <li>
    Klikk på koblingen «Endre» ved siden av elementet <a href='/tuit/admin/ticket/emailtemplate/'>E-post-maler</a>.
  </li>
  <li>
    Velg hvilken mal du vil redigere.
  </li>
  <li>
    Rediger malen.  Tittelen er i ren tekst, meldingskroppen er i HTML-format. 
    En fremtidig versjon av {{ application|escape}} vil tilby grafisk html-redigering her.
  </li>
  <li>
    Klikk på Lagre-knappen.
  </li>
</ol>
<p>
  For å kunne sette inn data spesifikt om en sak eller oppdatering finnes det
  spesial-tagger som blir erstattet med passende tekst når e-posten blir sendt. 
  Definisjonsspråket for malene gir deg også mulighet til å lage kompliserte
  layouter med betingelsesblokker, løkker og innholdfiltre, for eksempel for
  å fjerne html-formatering.  En fullstendig beskrivelse av malsyntaksen 
  finnes i <a href='http://www.djangoproject.com/documentation/0.96/templates/'>dokumentasjonen 
  for Django-maler</a> (engelsk).  De spesifikke verdiene som er tilgjengelige
  er beskrevet i tabellen nedenfor.
</p>
<table class='striped'>
  <tr>
    <th>
      Tag
    </th>
    <th>
      Beskrivelse
    </th>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient.first_name&nbsp;&#125;&#125;
    </td>
    <td>
      E-postmottakerens fornavn.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient.last_name&nbsp;&#125;&#125;
    </td>
    <td>
      E-postmottakerens etternavn.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient.name&nbsp;&#125;&#125;
    </td>
    <td>
      Fullt navn for e-postmottakeren, fornavn og etternavn.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient.username&nbsp;&#125;&#125;
    </td>
    <td>
      E-postmottakerens brukernavn.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient.email&nbsp;&#125;&#125;
    </td>
    <td>
      E-postmottakerens e-postadresse.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.id&nbsp;&#125;&#125;
    </td>
    <td>
      Saksnummer for denne saken.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.url&nbsp;&#125;&#125;
    </td>
    <td>
      URL som inneholder fullstendig informasjon om saken.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.subject&nbsp;&#125;&#125;
    </td>
    <td>
      Tittelen for saken.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.description&nbsp;&#125;&#125;
    </td>
    <td>
      Hovedbeskrivelse for saken.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;update.comment&nbsp;&#125;&#125;
    </td>
    <td>
      Kommentaren for siste oppdatering av saken.  Dette feltet vil være 
      tomt dersom saken ikke har blitt oppdatert, for eksempel hvis saken
      nettopp er opprettet.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;filtered_updates&nbsp;&#125;&#125;
    </td>
    <td>
      <p>
	Bare tilgjengelig når en sak blir sendt på nytt.
      </p>
      <p>
	En matrise av alle oppdateringer som er med i nyutsendelsen. Bruk en 
	for-løkke til å vise alle oppdateringer, omtrent slik:
      </p>
      <pre>
&#123;% for update in filtered_updates %&#125;
&lt;p&gt;
&#123;&#123; update.comment &#125;&#125;
&lt;/p&gt;
&lt;hr/&gt;
&#123;% endfor %&#125;
      </pre>
    </td>
  </tr>
</table>

<p>
  Det kan være mange brukere som er knyttet til en sak, inkludert 
  personen den opprinnelige henvendelsen kom fra, personen som opprettet saken,
  personene som la til en oppdatering av saken, og så videre. Alle disse er 
  tilgjengelige, og alle har de samme feltene tilgjengelige som mottaker i 
  tabellen over. For eksempel er «&#123;&#123;&nbsp;issue.assigned_to.email&nbsp;&#125;&#125;» 
  e-postadressen til personen som ble tildelt oppgaven å løse saken. Listen
  over tilgjengelige brukere er beskrevet i tabellen nedenfor.
</p>

<table class='striped'>
  <tr>
    <th>
      Bruker
    </th>
    <th>
      Beskrivelse
    </th>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient&nbsp;&#125;&#125;
    </td>
    <td>
      Personen som vil motta e-postmeldingen.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.requester&nbsp;&#125;&#125;
    </td>
    <td>
      Personen som bad om at saken skulle opprettes.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.creator&nbsp;&#125;&#125;
    </td>
    <td>
      Personen som opprettet den opprinnelige saken.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.assigned_to&nbsp;&#125;&#125;
    </td>
    <td>
      Personen som er tildelt oppgaven med å løse saken.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;update.creator&nbsp;&#125;&#125;
    </td>
    <td>
      Personen som utførte den siste oppdateringen i saken.
    </td>
  </tr>
</table>
<p>
  Noen av feltene vil ikke alltid være tilgjengelige.  For eksempel vil
  en helt ny sak ikke ha oppdateringer, slik at alle felter knyttet til
  siste oppdatering vil være tomme.
</p>

<h2><a name='admin_contact'>Tømme kontaktlisten</a></h2>
<p>
  Når en person som ikke er en {{ application|escape}}-bruker blir satt som mottaker av kopi
  for en sak, eller når en person sender en e-postmelding til {{ application|escape}} i
  forbindelse med en sak, blir det opprettet en kontaktoppføring for
  personen.  Denne kontaktoppføringen blir blant annet brukt til 
  automatisk utfylling.  Noen ganger er det ønskelig å fjerne gamle
  kontaktoppføringer for å gjøre forslagene som {{ application|escape}} presenterer 
  mer relevante. Det gjør du slik:
</p>

<ol>
  <li>Gå til <a href='/tuit/admin/'>administrasjonsgrensesnittet</a>.</li>
  <li>Klikk på koblingen «Endre» ved siden av elementet <a href='/tuit/admin/ticket/contact/'>Eksterne kontakter</a>.</li>
  <li>Klikk på kontaken du vil fjerne.</li>
  <li>Klikk på knappen «Slett».</a>
</ol>



<h2><a name='admin_quickfill'>Endre tilgjengelige hurtigutfyllinger</a></h2>

<p>
  Denne handlingen kan bare utføres av brukere som har tilgangsrettigheter til 
  administratorgrensesnittet. 

  {% if user.is_staff %}
  Du har tilstrekkelig tilgang, og kan utføre stegene nedenfor dersom du ønsker det.  Husk på at endringene du gjør, vil gjelde for alle brukere, ikke bare deg selv.
  {% else %}
  Du har ikke tilstrekkelig tilgang, og kan ikke utføre stegene som er beskrevet nedenfor.
  {% endif %}
</p>
<p>
Hurtigutfyllinger lages slik:
</p>
<ol>
  <li>Gå inn i adminstrasjonsgrensesnittet ved å klikke på koblingen øverst i skjermbildet.</li>
  <li>Lag først en <em>Hurtigutfylling</em>. Disse inneholder bare en beskrivelse av hva som skal fylles ut.</li>
  <li>Når dette er gjort, lager du <em>Hurtigutfyllingslemement</em>. Et utfyllingselement inneholder tre felter: hurtigutfyllingen dette gjelder (velg den du akkurat laget), feltet som skal fylles ut og verdien feltet skal settes til.</li>
  <li>Gjenta steg 3 så mange ganger som passer.</li>
</ol>




<h1><a name='concepts'>{{ application|escape}}-begreper</a></h1>

<h2><a name='concepts_admin'>Administrasjonsgrensesnittet</a></h2>
<p>
  Administrasjonsgrensesnittet er der det meste av konfigureringen
  av {{ application|escape}} blir utført.  Det er tilgjengelig <a href='/tuit/admin'>her</a>. 
  Siden {{ application|escape}} består av flere separate komponenter som alle må fungere på
  egenhånd, er det dessverre ikke mulig å lage ett enkelt sted for alle
  konfigurasjonsbehov.  Når du er logget inn som en bruker med administratorprivilegier
  skal en kobling til administrasjonsgrensesnittet være tilgjengelig i
  menyen øverst i skjermbildet.
</p>
{% if user.is_staff %}
<p>
  En kort innføring i alle elementer som kan konfigureres ved hjelp av 
  administrasjonsgrensesnittet er tilgjengelig <a href='/tuit/admin/doc/'>her</a>.
</p>
{% endif %}

</div>

<h2><a name='concepts_autocompletion'>Autofullføring</a></h2>
<p>
  Autofullføring eller automatisk fullføring er en teknikk som er 
  brukt flere steder i {{ application|escape}}.  Teknikken er nyttig når du skal velge
  mellom en stor mengde mulige, for eksempel i situasjoner der en 
  rullegardinmeny ikke er egnet på grunn av at listen over mulige 
  elementer ville blitt for lang. Autofullføring bruker et enkelt
  tekstfelt der brukeren kan skrive tekst, hele listen over mulige 
  elementer blir gjennomsøkt og de som passer med det innskrevne 
  blir vist.  Brukeren kan så bruke piltaster opp og ned for å
  flytte rundt i listen og trykke enter-tasten for velge markert element.
</p>

<h2><a name='concepts_cmdb'>CMDB</a></h2>
<p>
  CMDB: Configuration Managment DataBase (konfigurasjonsdatabase), et verktøy for å holde 
  rede på viktige aktiva i IT-miljø og sammenhengene mellom dem. 
  De grunnlegggende elementene i en CMDB kalles konfigurasjonsenheter (Configuration Items -CI).  
  En CI kan være en fysisk server, en programvaretjeneste eller til og med en person.
  Alle elementer du holder følge med via CMDB er en CI.
</p>

<h2><a name='concepts_incident'>Hendelse (Incident)</a></h2>
<p>
  Begrepet Incident (Hendelse) beskriver en ikke planlagt avbrytelse eller 
  reduksjon av kvaliteten i en IT-tjeneste.  Svikt som ikke har konsekvenser
  for tjenesten, som feil på en disk i et speilet sett er også å regne 
  som Incident og bør rapporteres som det.
</p>

<h2><a name='concepts_issue'>Sak (Issue)</a></h2>
<p>
  En sak i {{ application|escape}} kan være av type Incident, Problem eller RfC. Selv om
  forskjellige typer saker har forskjellige felter og et finnes andre mindre
  forskjeller, oppfører de seg stort sett likt.  Hvis du vil ha mer informasjon
  om hvordan du oppretter, oppdaterer og lukker saker, kan du se under <a href='#issues'>Saksadministrasjon i {{ application|escape}}</a>.
</p>

<h2><a name='concepts_itil'>ITIL</a></h2>
<p>
  Information Technology Infrastructure Library eller ITIL er et 
  rammeverk for organisering IT-tjenesteleveranser.  Det er basert på
  beste praksis-standard i IT-bransjen og tilbyr et sett med begreper og
  policyer for administrasjon av IT-infrastruktur, utvikling og organisering.
</p>
<p>
  Siden {{ application|escape}} er konstruert for å støtte opp under ITIL-basert arbeidsflyt
  beskrives noen av kjernebegrepene i ITIL også i dette dokumentet.  Men
  dette dokumentet handler om programvaren {{ application|escape}}, og ikke om ITIL generelt. 
  Hvis du ønsker fullstendig oversikt over ITIL, inkludert informasjon om
  hvordan du kan ta i bruk ITIL som del av din organisasjon, kan du se <a href='http://www.itframeworks.org/wiki/Information_Technology_Infrastructure_Library'> IT Frameworks Wiki</a>.
</p>

<h2><a name='concepts_kb'>Kunnskapsbase</a></h2>
<p>
Kunnskapsbase (Knowledge base): En samling av produkt- og/eller stedsspesifikk informasjon, 
basert på erfaringer fra miljøet eller ansatte på stedet som utfyller offisiell informasjon. 
For mer informasjon om ITIL-begreper se <a href='http://www.itframeworks.org/wiki/Information_Technology_Infrastructure_Library'>IT Frameworks Wiki</a>.
</p>

<h2><a name='concepts_problem'>Problem</a></h2>
<p>
Et problem er den underliggende årsaken til en eller flere hendelser (Incident). Problemer
skal håndteres av problemhåndtering (Problem Management), men hvis løsningen innebærer endringer (Change) må disse godkjennes av endringshåndtering (Change Management) før de blir implementert. For mer informasjon om ITIL-begreper se <a href='http://www.itframeworks.org/wiki/Information_Technology_Infrastructure_Library'>IT Frameworks Wiki</a>.
</p>

<h2><a name='concepts_rfc'>RfC</a></h2>
<p>
En Request for Change (endringsanmodning) eller RfC er en offisiell anmodning 
om at en endring (Change) skal bli utført.  Forslaget inneholder detaljert
beskrivelse av endringen, inkludert detaljert tilbakerullingsplan, og sendes til endringshåndtering (Change Management). For mer informasjon om ITIL-begreper se <a href='http://www.itframeworks.org/wiki/Information_Technology_Infrastructure_Library'>IT Frameworks Wiki</a>.
</p>

<!--
<h2><a name='concepts_'></a></h2>
<p>
</p>
-->


{% endblock %}
