{% extends "ticket.html" %}
{% load tuit_extras %}
{% load i18n %}

{%block breadcrumb %}&gt; <a href="/tuit/help">Help</a>{%endblock %}

{%block content %} 
<h2>{% trans "Table of contents" %}</h2>
<ul class='toc'>
</ul>
<script>
$(document).ready(function () {
tuit.makeTOC('.toc');
});
</script>

<div class='help'>

<h1><a name='help'>Help</a></h1>
<p>


This is the main help page for {{ application|escape}}. {{ application|escape }} is The Ultimate ITIL
Toolbox, a set of software components designed to support ITIL based
work flow for service management. {{ application|escape }} currently consists of the
following components:

<ul>
  <li><a href=''>An issue handling system</a>, based on <a href='http://roundup.sourceforge.net/'>Roundup</a></li>

  
  <li>
    <a href='#concepts_cmdb'>A CMDB</a> based
    on <a href='/FreeCMDB/help'>FreeCMDB</a>. For more information about
    the CMDB concept,
    see <a href='http://en.wikipedia.org/wiki/CMDB'>this Wikipedia
      article on CMDBs</a>.
  </li>
  <li>
    <a href='#concepts_kb'>A knowledge base</a>, based
    on <a href='http://foswiki.org/'>Foswiki</a>. For more information
    about the CMDB concept,
    see <a href='http://en.wikipedia.org/wiki/Knowledge_base'>this Wikipedia
      article on knowledge bases</a>.
  </li>
</ul>
</p>

<h1><a name='overview'>User interface overview</a></h1>
<p>
  This section described the basic user interface concepts of
  {{ application|escape }}. These concepts are the same in all components, e.g. the
  Knowledge base looks and works as much like the CMDB as is possible
  without compromising the functionality of either.
</p>

<h2><a name='overview_topmenu'>The top menu</a></h1>
<p>
  The top menu allows you to navigate to the different parts of the
  site. This menu does not usually change depending on what part of
  {{ application|escape }} you are using, but because different users have access to
  different parts of the site, it will vary depending on who is logged
  in. Top menu is also highly customisable, and information on chnaging top 
  menu components can be found here:
  <ol>
    <a href="#admin_top_menu">Changing top menu components</a>
  </ol>
</p>
<p>
  The top menu also allows you to quickly search the system. Just
  enter a few keywords into the search box and press the «enter» key. For
  more information on searching, see <a href='#search'>the search
  section</a>.
</p>

<h2><a name='overview_leftmenu'>The left side menu</a></h1>
<p>
  The menu on the left side of every page contains page specific links
  and options. This menu will be different in e.g. the Knowledge base
  than in the CMDB.
</p>

<h2><a name='overview_content'>The main content area</a></h1>
<p>
  The remainder of the screen is called the main content area, this is
  where the main application data is shown. What the content area
  contains depends heavily on what page you are viewing.
</p>


<h1><a name='home'>The home screen</a></h1>
<p>
  This is the start page of {{ application|escape }}. A future version of {{ application|escape }} will
  contain a user configurable dashboard showing various status
  information and messages, but the current home screen is very
  limited. It contains the following items:
  <ul>
    <li>
      A list of all <a href='#concepts_incident'>Incidents</a> assigned to the logged in user, sorted by priority.
    </li>
    <li>
      A list of all <a href='#concepts_problem'>Problems</a> assigned to the logged in user, sorted by priority.
    </li>
    <li>
      A list of all <a href='#concepts_rfc'>RfCs</a> assigned to the logged in user, sorted by priority.
    </li>
  </ul>
  
  More detailed information on creating and modifying dashboard widgets can be found <a href='/static/documentation/widget_documentation.html'>here</a>. 
  Archive with documentation in doc and html file formats, together with example widgets is also available for download.
	<ul>
		<a href='/static/documentation/widgets_docs.zip'>Download</a>
	</ul>
  
  
</p>

<h1><a name='search'>Searching {{ application|escape }}</a></h1>
<p>
  {{ application|escape }} contains a global search function that will search every
  component of {{ application|escape }}. To quickly perform a search, enter a search word
  in the search box in the top right corner of any {{ application|escape }} page, and then
  press the «enter» key.
</p>
<p>
  If a search yields many results, only the first ten results are
  shown, and the user may press a button in order to see more results.
</p>
<h2><a name='search_types'>Search types</a></h2>
<p>
  {{ application|escape }} shows the following types of search results:

  <ul>
    <li>
      <em>IDs</em>. If issue id or multiple ids separated by space are entered in search box,
      this search type will show them regardles of their status or type.
    </li>  
    <li>
      <em><a href='#concepts_issue'>Issues</a></em>. This shows both Incidents, Problems and
      RfCs. Freetext searches the subject, the description, all
      updates as well as the name of the user who requested the
      issue. All advanced search options work.
    </li>
    <li>
      <em><a href='#concepts_cmdb'>CIs</a></em>. This shows all matching items from the
      CMDB. Freetext searches the CI name. No advanced search options
      work.
    </li>
    <li>
      <em><a href='#concepts_kb'>Knowledge base articles</a></em>. This shows all matching items
      from the Knowledge base. Freetext searches title, the KB form
      and the KB text proper. No advanced search options work.
    </li>
    <li>
      <em>User search</em>. This shows all matching users. Freetext
      searches the username, first and last name. No advanced search
      options work.
    </li>
  </ul>
</p>

<h2><a name='search_advanced'>Advanced search</a></h2>
<p>
  To specify additional search options, click on the «Advanced search
  options» button in a search result page. There, issue priority,
  update date and other search criteria can be applied. Note that not
  all types of search filters apply to all search places, e.g. User
  search ignores all filters except the search text.
</p>


<h1><a name='issues'>{{ application|escape }} Issue Management</a></h1>

<p>

  The {{ application|escape }} issue handling component is an issue tracker loosely based
  on <a href='http://roundup.sourceforge.net/'>Roundup</a>. It is
  intended to be used to track Incidents, Problems and Requests for
  Change as they make their way through your IT organization.
  
</p>
<h2><a name='issues_types'>Types of issues</a></h2>
<p>
  {{ application|escape }} is based around 3 types of issues:
  <ul>
    <li>
      <em>Incidents</em> are issues that have caused or may in the
      future cause service interruptions, that need to be handled
      before breaching an SLA.
    </li>
    <li>
      <em>Problems</em> are issues that support root cause analysis of
      one or more incidents.
    </li>
    <li>
      <em>RfCs</em> Or Requests for Change, are issues that track
      roll out of a change in a service, often triggered by a Problem.
    </li>
  </ul>  
</p>

<h2><a name='issues_creating'>Creating a new issue</a></h2>
<p>
For each <a href='#issues_types'>issue type</a> there is a
corresponding link in the top menu of {{ application|escape }} for filing an issue of that
type. Use one of these links in order to file a new issue. You
will be presented with a form with various fields to fill out.
</p>
<p>
When done, click the «Create issue» button at the bottom of the page,
and you are done.
</p>
<h3><a name='issues_creating_user'>Filling out user fields</a></h3> 
<p>
  Issues have many users associated with them, including the raiser of
  the issue, the person assigned to a specific issue, etc.. Fields for
  filling out users in {{ application|escape }} all use autocompletion. The autocompletion
  code will search the username, first name and last name of the user
  when performing the completion.
</p>
<p>
There are several variations on how user fields work:
<ul>
  <li>
    Some user fields only permit a single user, these text field for
    these fields is only one line long. Others permit arbitrarily many
    users. These text fields contain multiple lines.
  </li>
  <li>
    Some user fields only allow registered users to be entered, others
    also allow you to enter an email address. If you've added an email
    address once, it will be added into {{ application|escape }} as a contact. When
    receiving an email about an issue, a contact is also
    created. These contacts are also used for autocompletion where
    appropriate, and they can also
    be <a href='/tuit/admin/ticket/contact/'>edited</a> in the
    <a href='#concepts_admin'>administration back end</a>.
  </li>
</ul>
</p>

<h3><a name='issues_creating_issues'>Filling out dependencies to other issues</a></h3>
<p>
  Issues can depend on other issues. The field for changing issue
  dependencies uses autocompletion. The autocompletion code will search
  the issue subject, description and the text of all updates.
</p>

<h3><a name='issues_creating_ci'>Filling out dependencies to CIs</a></h3>
<p>
  Issues can depend on configuration items (CIs), that is, the items
  stored in the CMDB portion of {{ application|escape }}.  The field for changing CI
  dependencies uses autocompletion. The autocompletion code will
  search the name of the CI. There is, however, also a second method
  for specifying a CI, the CMDB drill down feature. This is a tree of
  all known CIs, that can be selectively expanded to drill down
  through dependencies until the wanted one is
  found. See <a href='#cmdb_navigation'>the section on CMDB navigation</a> for more information.
</p>
<h3><a name='issues_creating_quickfills'>Using quick fills to automatically fill out common fields</a></h3>
<p>
  On many service desks, there is a great number of repetitive
  tickets. This can be caused by a common underlying problem that
  needs to be fixed or simply because users tend to run into the same
  types of problems. In order to simplify the creation of such
  repetitive issues, {{ application|escape }} provides a feature called Quick fills. This
  is simply a drop down box with common issue «templates». Select one
  of them, and various fields will be automatically filled out for
  you. Exactly what fields are set to what values on every Quick fill
  can be changed in the <a href='#concepts_admin'>administration back end</a>.
</p>
<p>
  See the section <a href='#admin_quickfill'>Changing the available quick fills</a> for information on customizing the list of available quickfills.
</p>

<h3><a name='issues_creating_genericfill'>Using generic fills to fill out fields depending on given condition</a></h3>
<p>
  In many cases values of some fields are always the same depending on certain condition. 
  For example if issue is registered by certain user, urgency of the issue is always one determined value. 
  {{ application|escape }} provides a feature called Generic fills in order to automate this process.
  This is just a simple set of rules, that define field values depending on certain conditions.
</p>
<p>
  See the section <a href='#admin_genericfill'>Changing available generic fills</a> for information on customizing the list of available generic fills.
</p>

<h3><a name='issues_creating_copy'>Creating a new issue based on another issue</a></h3>
<p>
  It is also possible to create a new issue by basing it on another
  issue. Perform the following steps to create a new issue this way:
  <ol>
    <li>
      First go the the web page of the original
      issue. A link to the relevant page should be included in every email
      from the {{ application|escape }} system, or you could find the update
      by <a href='#search'>searching {{ application|escape }}</a> or browsing
      your <a href='#home'>home page</a>.
    </li>
    <li>
      Once you are on the correct page, click the «Create new ticket
      based on this ticket» button at the top of the screen.
    </li>
    <li>
      This will show a tiny dialog on the screen where you will be
      asked what type of issue to create. Pick the desired issue type
      from the drop down box and press the «Create» button.
    </li>
    <li>
      The same issue creation form that is displayed when clicking one
      of the issue creation links in the top menu will now be shown,
      but with the following fields copied from the original issue:
      <ul>
	<li>Issue subject</li>
	<li>Description of the issue</li>
	<li>Issue category</li>
	<li>Impact of issue</li>
	<li>Urgency of issue</li>
	<li>Requester of issue</li>
	<li>User assigned to this issue</li>
	<li>People CC:ed on this issue</li>
	<li>Users who are co-responsible for this issue</li>
      </ul>
    </li>
  </ol>
</p>

<h2><a name='issue_update'>Updating an issue</a></h2>
<p>
  There are two basic ways to update in issue. The first is through
  the web interface, the other is through email.
</p>
<h3><a name='issue_update_email'>Updating an issue through email</a></h3>
<p>
  In order to create an update through email, simply reply to an email
  sent from {{ application|escape }}. The content of the email, including any attached
  files, will be added as an update to the issue. If the issue was
  closed, it will be reopened, but otherwise, no field values are
  changed.
</p>

<h3><a name='issue_update_web'>Updating an issue through the web</a></h3>
<p>
  Updating an issue through the web interface allows more fine grained
  control over an update. It is possible to change the values of all
  fields of an issue except the subject and the original problem
  description. It is possible to explicitly specify who should receive
  email notification of the update, and it is possible to make the
  update internal, e.g. hide it from non-privileged users.
</p>
<p>
  To update an issue, first go the the web page of that issue. A link
  to the relevant page should be included in every email from the {{ application|escape }}
  system, or you could find the update by <a href='#search'>searching
  {{ application|escape }}</a> or browsing your <a href='#home'>home page</a>. Once you
  are on the correct page, click the «Add new update» button at the
  bottom of the screen.

  For more
  information about changing specific types of fields, such as auto
  completing user name fields, <a href='#issues_creating'>see the
  section on creating issues</a>.
</p>

<h3><a name='issue_update_kb'>Using an issue update as the basis for a
knowledge base article</a></h3>

<p>
  When having solved an issue, it is sometimes desirable to make that
  solution available to others as a knowledge base article. This has
  the potential to greatly reduce the amount of time required to solve
  similar issues in the future. For this reason, {{ application|escape }} makes it as easy
  as possible to perform this task. The following steps are all that
  is required:
</p>

<ol>
  <li>
    Locate the issue containing the relevant update and scroll down to find the correct update.
  </li>

  <li>
    Click on the «Create KB article from this update» button.
  </li>

  <li>
    A small dialog is presented, allowing you to choose the name of
    the article (The default is the subject of the ticket) and to
    specify which section of the knowledge base to use. Press the
    «Submit» button once you are done.
  </li>

  <li>
    Fill out the Knowledge base article form and make any changes to
    the main article text that are needed. Press the «Save» button
    when you are done to create the Knowledge base article.
  </li>
</ol>

<h3><a name='issue_update_kb2'>Using a knowledge base article as the
  basis for an issue update</a></h3>

<p> A knowledge base is only useful if it is used. For this reason,
  {{ application|escape }} makes it as easy as possible to use Knowledge base information
  when updating an issue. Below the text field for making an update
  comment, there is a text input field. When writing into this field,
  {{ application|escape }} will search the Knowledge base, and show you
  an <a href='#concepts_autocompletion'>autocompletion</a> list of
  articles whose subject or content match that text. Once an article
  has been chosen, the user can either press the «Preview» button in
  order to see a preview of the article contents or press the «Insert»
  button in order to insert the article contents into the update.
</p>


<h1><a name='cmdb'>{{ application|escape }} CMDB</a></h1>

<h2><a name='cmdb_navigation'>Navigating the CMDB</a></h2>

<p>
  Usually, the easiest way to navigate the CMDB is through
  dependencies. The CMDB start page contains a list of suitable start
  nodes. Each of these nodes has a small button next to them with a +
  sign. Click on the plus to expand and show all nodes related to that
  node. Using this method repeatedly, it is possible to drill down
  until the desired CI is located. Then, simply click on the CI to
  access the main page of that CI.
</p>
<p>
  When like adding a new CI dependency, either in the CMDB or in the
  issue tracker, the same drilldown interface is also available.
</p>

<h3><a name='cmdb_navigation_root'>Changing the starting points of navigation in the CMDB</a></h3>
<p>
  In order to change the list of CIs displayed at the start of the
  drill down tree, simply update the dependencies of the CI called
  «Root».
</p>

<h2><a name='cmdb_create'>Creating and updating CIs</a></h2>
<p>
  Creating CIs is easy - simply press the «Create new item» button in
  the left side menu, and start editing the item. Updating an existing
  item can be done in two ways:
  <ul>
    <li>
      Press the «Update» button of an individual field on the CI to edit that field.
    </li>

    <li>
      Press the «Edit item» link in the left side menu to obtain a form
      where all fields of the CI can be edited at once.
    </li>
  </ul>
</p>

<h2><a name='cmdb_history'>Using the history feature</a></h2>
<p>
  Every change ever performed to a CI is saved. To view the performed
  changes, follow the «History» link in the left side menu of a CI. A
  list of all changes will be displayed. To view a specific revision
  of a CI, you can click the ½Show» button next to that revision. It
  is also possible to revert all edits performed after a specific
  edit.
</p>

<h2><a name='cmdb_ci_types'>Configuring CI types</a></h2>
<p>
  The types of CIs (e.g. Server, Service, Firewall) that are available can be configured freely. Perform the following steps:
</p>
<ol>
  <li>Access the administration interface.
    {% if user.is_staff %}
    It can be found <a href='/tuit/admin/'>here</a>.
    {% endif %}
  </li>
  <li>Click the CMDB Administration link.</li>
  <li>Click the sidebar item «CI types»</li>
  <li>Update the list of CI types as you require, and press «Update».</li>
</ol>

<h2><a name='cmdb_ci_types'>Configuring CI fields</a></h2>
<p>
  The fields availalbe to various CI types can be configured freely. Perform the following steps:
</p>
<ol>
  <li>Access the administration interface.
    {% if user.is_staff %}
    It can be found <a href='/tuit/admin/'>here</a>.
    {% endif %}
  </li>
  <li>Click the CMDB Administration link.</li>
  <li>Click the sidebar item «CI columns»</li>
  <li>Update the list of CI columns as you require, and press «Update».</li>
</ol>
<p>
  It is strongly recommended that the default column (which is used
  for CI description, etc.) be of the unformated text type.
</p>


<h1><a name='kb'>{{ application|escape }} Knowledge base</a></h1>
<p>
{{ application|escape }} uses Foswiki as its Knowledge Base system. Foswiki ships with a
huge amount of documentation included. The following links are some of
the most relevant pages containing useful documentation on using the
Knowledge base:
</p>

<ul>
  <li><a href='/cgi-bin/foswiki/view/System/TwentyMinuteTutorial'>A twenty minute tutorial on Foswiki</a></li>
  <li><a href='/cgi-bin/foswiki/view/System/UsersGuide'>User's guide</a></li>
  <li><a href='/cgi-bin/foswiki/view/System/FrequentlyAskedQuestions'>FAQ</a> - this is also useful to get tips and tricks on how to set up a knowledge base.</li>
  <li><a href='/cgi-bin/foswiki/view/System/ReferenceManual'>Reference Manual</a> - mainly useful for administrators.</li>
</ul>


<h1><a name='comments'>The {{ application|escape }} comment system</a></h1>
<p>
  {{ application|escape }} has a built in comment system that lets you make comments on
  any page in {{ application|escape }}. The comments are displayed in the sidebar on the
  left side. All users who have the permissions required to see
  comments will see any comment you make by simple visiting the same
  page, and you will see any comment made by other users.
</p>
<h2><a name='comments_editing'>Changing or removing comments</a></h2>
<p>
  Old comments can be edited through
  the <a href='#concepts_admin'>administration back end</a>. Visit the
  comments section, locate the correct comment and either edit or
  remove it. Note that any user has the option to change comments made
  by another user through the administration backend. Use with care!
</p>


<h1><a name='log'>View event log</a></h1>
<p>
  Important events in the {{ application|escape }} system are logged in the main {{ application|escape }}
  log. Currently, events in the knowledge base and CMDB are not logged
  in the main log, but this will change in a future version of {{ application|escape }}.
</p>
{% if user.is_staff %}
<p>
  The log is available <a href='/tuit/log/'>here</a>. There is also a
  link available in the index page of the administration interface.
</p>
{% else %}
<p>
  You do not have sufficient privilidges to view the event log. If you
  did, the log would be available <a href='/tuit/log/'>here</a>. There
  would also be a link available in the index page of the
  administration interface.
</p>
{% endif %}

<h1><a name='admin'>{{ application|escape }} administration</a></h1>
<p>
  {{ application|escape }} is a highly customizabe tool. This section details some of the
  ways in which {{ application|escape }} can be customized to suit your working
  environment.

  {% if user.is_staff %} 

  You have administrative rights, so feel free to explore
  the <a href='/tuit/admin/doc/'>admin interface</a>.

  {% else %} 

  Because you do not have administrative rights on this system, you
  can not actually customize this {{ application|escape }} instance.

  {% endif %}
</p>

<h2><a name='admin_user_permissions'>User permissions</a></h2>
<p>
  User permissions are used with top menu component, widgets etc. to define who can access
  these items. Beside standard <b>is_staff</b> and <b>is_admin</b> permissions there are additional
  permissions that are defined in following form:
  <ol>
      &lt;app label&gt;.&lt;permission codename&gt;
  </ol> 
  This means that Site | Can change site will have permission sites.can_change_site.
  <p>Complete list of app labels and codenames can be found in <a href='/static/documentation/permissions_table.html'>permissions table</a>.</p>  
</p>


<h2><a name='admin_top_menu'>Changing top menu components</a></h2>
<p>
  Menu components are eidtable through the <a href='/tuit/admin/settings'>system administration backend</a>. 
  It is possible to add any url to top menu, for example <a href='http://www.google.com'>www.google.com</a>. Below is list of most common 
  {{ application|escape }} urls
  <ol>
  <li>Create a <em>Menu component</em>.</li>
  <li>Menu component have four fields: alias; name that is displayed in top menu; url; permission; view order;</li>
</ol>

    Table of common {{ application|escape }} urls
  <table class='striped'>
      <tr>
        <th>
          URL
        </th>
        <th>
          Description
        </th>
      </tr>
      <tr>
        <td>
           /tuit
        </td>
        <td>
          Main page
        </td>
      </tr>
      <tr>
        <td>
           /tuit/ticket/new
        </td>
        <td>
          New issue
        </td>
      </tr>
      <tr>
        <td>
           /tuit/admin
        </td>
        <td>
          Administration backend
        </td>
      </tr>
  </table>
  
</p>


<h2><a name='admin_status_category'>Changing the list of available statuses and categories</a></h2>
<p>
  Issue statuses and categories are editable through
  the <a href='/tuit/admin'>administration backend</a>. The index page
  of the backen has links to pages for editing the list of available
  statuses and categories. These links take you to standard web
  interfaces that allow you to add, edit and remove items from these
  lists.
</p>

<h2><a name='admin_properties'>The {{ application|escape }} properties table</a></h2>
<p>
  {{ application|escape }} stores as much of its system configuration as possible in the
  database, in order to make it easier to configure the system using
  only the web interface. Many important system settings are stored in
  the Properties table. Data in this table is stored in the JSON data
  serialisation format. Do not edit any settings in the properties
  table unless you know what you are doing, or you may stop the system
  from working. A future {{ application|escape }} version will contain a user friendly
  front end for this system.
</p>

<h2><a name='admin_email_templates'>Changing the content of emails sent by {{ application|escape }}</a></h2>
<p>
  {{ application|escape }} is designed to be usable either through the web interface or
  through email. When an issue is updated through email, an update is
  sent to the people assigned to that ticket. In the web interface,
  the user can specifically choose which parties should recive that
  particular update. But for {{ application|escape }} to be able to send these emails, one
  must first specify template emails. This is done through
  the <a href='#concepts_admin'>administration interface</a>.
</p>
<p>
  Take the following steps:
</p>
<ol>
  <li>
    Access <a href='/tuit/admin/'>the administration
    interface</a>.
  </li>
  <li>
    Click on the «change» link next to the item
    labeled <a href='/tuit/admin/ticket/emailtemplate/'>Email
    templates</a>.
  </li>
  <li>
    Select which template you wish to change.
  </li>
  <li>
    Edit the template. The subject is in plaintext, the body is HTML
    formated. A future version of {{ application|escape }} will include a graphical html
    editor.
  </li>
  <li>
    Click the save button.
  </li>
</ol>
<p>
  In order to insert specific data about a ticket or an update, there
  are special tags that will be replaced with the suitable text when
  sending the email. The templating language also allows you to create
  complex layouts including conditional blocks, loops and content
  filters, such as stripping out html tags. For a full description of
  the template syntax,
  see <a href='http://www.djangoproject.com/documentation/0.96/templates/'>the
  Django template documentation</a>. The specific values available are
  described in the table below.
</p>
<table class='striped'>
  <tr>
    <th>
      Tag
    </th>
    <th>
      Description
    </th>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient.first_name&nbsp;&#125;&#125;
    </td>
    <td>
      The email recipients first name.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient.last_name&nbsp;&#125;&#125;
    </td>
    <td>
      The email recipients last name.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient.name&nbsp;&#125;&#125;
    </td>
    <td>
      The email recipients full name, first and last.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient.username&nbsp;&#125;&#125;
    </td>
    <td>
      The email recipients username.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient.email&nbsp;&#125;&#125;
    </td>
    <td>
      The email recipients email address.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.id&nbsp;&#125;&#125;
    </td>
    <td>
      The issue number for this issue.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.url&nbsp;&#125;&#125;
    </td>
    <td>
      The URL containing the full information on this issue.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.subject&nbsp;&#125;&#125;
    </td>
    <td>
      The subject for this issue.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.description&nbsp;&#125;&#125;
    </td>
    <td>
      The main description for this issue.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;update.comment&nbsp;&#125;&#125;
    </td>
    <td>
      The comment for the latest update to this issue. This will be empty if
      the issue has never been updated, e.g. if the issue is only just
      being created.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;filtered_updates&nbsp;&#125;&#125;
    </td>
    <td>
      <p>
	Only available when performing a resend of an issue.
      </p>
      <p>
	An array of all updates that are included in the resend. Use a
	for loop to show all updates, something like this:
      </p>
      <pre>
&#123;% for update in filtered_updates %&#125;
&lt;p&gt;
&#123;&#123; update.comment &#125;&#125;
&lt;/p&gt;
&lt;hr/&gt;
&#123;% endfor %&#125;
      </pre>
    </td>
  </tr>
</table>

<p>
  There are many users connected to an issue, including the original
  requester, the person who created the issue, the person who created
  an issue update, etc. These are all available, and all have the same
  fields available to them as the recipient does in the table
  above. For example, «&#123;&#123;&nbsp;issue.assigned_to.email&nbsp;&#125;&#125;» is the email address of
  the person assigned to fixing this issue. The list of available
  users are desbribed in the table below.
</p>

<table class='striped'>
  <tr>
    <th>
      User
    </th>
    <th>
      Description
    </th>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;recipient&nbsp;&#125;&#125;
    </td>
    <td>
      The person who will recieve the email.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.requester&nbsp;&#125;&#125;
    </td>
    <td>
      The person who requested that the issue should be created.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.creator&nbsp;&#125;&#125;
    </td>
    <td>
      The person who created the original issue.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;issue.assigned_to&nbsp;&#125;&#125;
    </td>
    <td>
      The person who is assigned to solving this issue.
    </td>
  </tr>
  <tr>
    <td>
      &#123;&#123;&nbsp;update.creator&nbsp;&#125;&#125;
    </td>
    <td>
      The person who made the latest update to the issue.
    </td>
  </tr>
</table>
<p>
  Some of the above fields may not always be available. For example,
  at issue creation time, there is no update, so all fields relating
  to the latest update will simply be empty.
</p>

<h2><a name='admin_contact'>Purging the contact list</a></h2>
<p>
  Whenever a person who is not a {{ application|escape }} user is assigned as CC for an
  issue, or whenever a person sends an email to {{ application|escape }} in relation to an
  issue, a contact entry for that person is created. This contact
  entry is used for e.g. autocompletion. Sometimes, it is desirable to
  purge old contact entries, in order to make the suggestions given by
  {{ application|escape }} more relevant. To do this, take the following steps:
</p>

<ol>
  <li>Access <a href='/tuit/admin/'>the administration interface</a>.</li>
  <li>Click on the «change» link next to the item labeled <a href='/tuit/admin/ticket/contact/'>External contacts</a>.</li>
  <li>Click on the contact you wish to remove</li>
  <li>Click the remove button</a>
</ol>



<h2><a name='admin_quickfill'>Changing the available quick fills</a></h2>

<p>
  This action can only be performed by users with access rights to the
  admin back end. 

  {% if user.is_staff %}
  You currently have this right, and can perform the steps below if you wish. Keep in mind that your changes will apply for all users, not just yourself.
  {% else %}
  You currently do not have this right and can not perform the steps described below.
  {% endif %}
</p>
<p>
Quick fills are created using these steps:
</p>
<ol>
  <li>First, enter the administration back end, by clicking the link at the top of the screen.</li>
  <li>First create a <em>Quick fill</em>. These only contain the description of what will be filled out.</li>
  <li>Once that has been done, create a <em>Quick fill item</em>. A quick fill item contains three fields; the quick fill this item applies to (Pick the one you just created), the field which is filled out and the value to set the field to.</li>
  <li>Repeat step 3 as many times as is suitable.</li>
</ol>

<h2><a name='admin_genericfill'>Changing available generic fills</a></h2>

<p>
  This action can only be performed by users with access rights to the
  admin back end. 

  {% if user.is_staff %}
  You currently have this right, and can perform the steps below if you wish. Keep in mind that your changes will apply for all users, not just yourself.
  {% else %}
  You currently do not have this right and can not perform the steps described below.
  {% endif %}
</p>
<p>
Generic fills are created using these steps:
</p>
<ol>
  <li>First, enter the administration back end, by clicking <a href='/tuit/admin/settings/'>here</a>.</li>
  <li>Create a <em>Generic fill item</em>.</li>
  <li>A generic fill item contains four fields; field that is filled out; value that is put in the field; conditional field; value inside the conditional field.</li>
  <li>Repeat step 3 as many times as it is suitable.</li>
</ol>

<h2><a name='admin_db_overview'>{{ application|escape }} database overview</a></h2>
<p>
  {{ application|escape }} uses relational database, and entity-relationship diagram can be found <a href='/static/documentation/ER_diagram.png'>here</a>. </br>
  Also detailed description of database tables is available <a href='/static/documentation/DB_Tables.html'>here</a>.
</p>
<p>
  Archive with ER diagram and database descriptions in multiple file formats is alvailable for download.
  <ul>
		<a href='/static/documentation/DB_Tables.zip'>Download</a>
  </ul>
</p>

<h1><a name='concepts'>{{ application|escape }} concepts</a></h1>

<h2><a name='concepts_admin'>The administration back end</a></h2>
<p>
  The administration back end is the location where most of the
  configuration of {{ application|escape }} is performed. It can be
  accessed <a href='/tuit/admin'>here</a>. Because {{ application|escape }} consists of
  multiple separate components that all need to also work on their
  own, it is unfortunately not possible to create a single place for
  all configuration needs. When logged in as a user with
  administration permissions, a link to the admin back end should be
  available in the top menu.
</p>
{% if user.is_staff %}
<p>
  For a short introduction to all the items that can be configured using
  the administration interface,
  click <a href='/tuit/admin/doc/'>here</a>.
</p>
{% endif %}

</div>

<h2><a name='concepts_autocompletion'>Autocompletion</a></h2>
<p>
  Autocompletion or automatic completion, is technique used in many
  places in {{ application|escape }}. It is useful when picking between a very large
  selection of items, e.g. in situations where a drop down box is
  unsuitable, because the number of items in the list would be
  prohibitive. Autocompletion uses a simple text input field, where
  the user can enter text, and the entire list of items will be
  searched, and any matching items will be shown. The user can then
  use the up and down arrows to move around in the list and press the
  enter key to select the highlighted item.
</p>

<h2><a name='concepts_cmdb'>CMDB</a></h2>
<p>
  CMDB: Configuration Managment DataBase, a tool for tracking
  important assets in an IT environment and the relationships between
  them. The basic elements of a CMDB are called Configuration Items
  (CI).  A CI can be a physical server, a software service, or even a
  person. Any item that you want to track using the CMDB is a CI.
</p>

<h2><a name='concepts_incident'>Incident</a></h2>
<p>
  An Incident is an unplanned interruption or a reduction in the
  quality of an IT Service. A failure that does not impact the
  Service, such as failure of one disk from a mirror set, is also an
  Incident and should be reported as such.
</p>

<h2><a name='concepts_issue'>Issue</a></h2>
<p>
  An Issue in {{ application|escape }} represents either an Incident, a Problem or an
  RfC. Though different types of issues may have different fields and
  other minor differences, they behave mostly the same. For more
  specific information about how to create, update and close issues,
  see the section <a href='#issues'>{{ application|escape }} Issue Management</a>.
</p>

<h2><a name='concepts_itil'>ITIL</a></h2>
<p>
  Information Technology Infrastructure Library or ITIL is a framework
  for organising IT Service Provider organizations. It is based on
  best-practices in the IT industry and provides a set of concepts and
  policies for managing IT infrastructure, development and organisation.
</p>
<p>
  Because {{ application|escape }} is meant to be used to support an ITIL-based workflow,
  a few of the core concepts of ITIL are described in this
  document. But this document is about the {{ application|escape }} software, and not
  about ITIL in general. For a complete overview of ITIL, including
  information about how to apply ITIL to your organization, please
  see <a href='http://www.itframeworks.org/wiki/Information_Technology_Infrastructure_Library'>the
  IT Frameworks Wiki</a>.
</p>

<h2><a name='concepts_kb'>Knowledge base</a></h2>
<p>
Knowledge base: A collection of product and/or site specific
information, based on experiences by the community members or site
personell supplementing official documentation. For more information
on ITIL concepts,
see <a href='http://www.itframeworks.org/wiki/Information_Technology_Infrastructure_Library'>the
IT Frameworks Wiki</a>.
</p>

<h2><a name='concepts_problem'>Problem</a></h2>
<p>
A Problem is the underlying cause of one or more Incidents. Problems
are to be handled by Problem Management, but if the solutions involve
Changes they must be approved by Change Management before being
implemented. For more information on ITIL concepts,
see <a href='http://www.itframeworks.org/wiki/Information_Technology_Infrastructure_Library'>the
IT Frameworks Wiki</a>.
</p>

<h2><a name='concepts_rfc'>RfC</a></h2>
<p>
A Request for Change or RfC is an official request for a Change to be
made. The proposal includes details of the Change, including a
detailed roll-back plan, and is sent to Change Management. For more
information on ITIL concepts,
see <a href='http://www.itframeworks.org/wiki/Information_Technology_Infrastructure_Library'>the
IT Frameworks Wiki</a>.
</p>

<!--
<h2><a name='concepts_'></a></h2>
<p>
</p>
-->


{% endblock %}
