<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
{% load i18n %}
<html>
<head>
</head>
<body class='main_menu_content'>
<ul class="main_menu">
    {% for application in applications %}
    <li>
      <a target='_parent' href='{{ application.url|escape }}'>{{ application.name }}</a>
    </li>
    {% endfor %}

</ul>
 <form target='_parent' accept-charset='utf-8' method='get' action='/tuit/search/' class="search">
   <input name='freetext'/>&nbsp;<button type='submit'>{% trans "Search" %}</button>
 </form> 
</body>
</html>
