<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">
{% load i18n %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link rel="stylesheet" href="/static/common/menu.css" type="text/css" media="screen,projection" />
</head>
<body>
<div class='main_menu'>
<div class='main_menu_inner'>
<ul>
    {% for application in applications %}
    <li>
      <a target='_parent' href='{{ application.url|escape }}'>{{ application.name }}</a>
    </li>
    {% endfor %}
    <li>
    <form target='_parent' accept-charset='utf-8' method='get' action='/tuit/search/' >
      <input name='freetext'/> <button type='submit'>{% trans "Search" %}</button>
    </form> 
    </li>

</ul>
</div>
</div>
</body>
</html>
