{% extends "ticket.html" %}
{% load i18n %}

{%block breadcrumb %} &gt; <a href="{{issue.url_internal}}">{%trans "New issue" %}</a>{%endblock %}
{%block content %} 

<script>
var quick_fill = {{ quick_fill_json }};
var field_fill = {{ field_fill_json }};

</script>

<form  enctype="multipart/form-data"  method='post' action='' accept-charset='utf-8'>
<input type='hidden' name='MAX_FILE_SIZE' value='1000000'/>

{% if type %}

<input type='hidden' name='type_id' value='{{ type.id|escape }}'/>
<table class='striped wide'>


<tbody>
<tr>
<td>
 <label for='quick'>{%trans "Quickfill" %}:</label>
</td>
<td>
<select id='quick'>
    <option value=''>{%trans "None" %}</option>
    {% for q in quick_fill %}
    <option value='{{ q.id }}'>{{ q.name|escape }}</option>
    {% endfor %}
</select>
</td>
</tr>
</tbody>
{% include "ticket_common.html" %}

</table>

<button type='submit'>{%trans "Create issue" %}</button>
<input class='button' type='submit' name='continue' value='{%trans "Create and continue" %}' />

{% else %}
<div class='type_list'>
{% for type in types %}<input class='type_selector' type='radio' name='type_id' value='{{type.id}}' id='type_{{type.id}}' onchange='tuit.setTicketType({{type.id}},"{{type.name|escape}}");'><label class='type_selector_label' id='type_{{type.id}}_selector_label' for='type_{{type.id}}'>{{ type.name|escape }}</label>{% endfor %}
<div class='end_block'></div>
</div>
<div id='ticket_form'>
</div>
{% endif %}

</form>

{% endblock %}
