{% extends "ticket.html" %}
{% load i18n %}

{%block content %} 

<script>
var quick_fill = {{ quick_fill_json }};
var default_mail = {{ create_default_mail_json }};
var field_fill = {{ field_fill_json }};

$(document).ready(function(){
tuit.checkEmailCheckboxes(default_mail);
});

</script>

<form  enctype="multipart/form-data"  method='post' action='' accept-charset='utf-8'>
<input type='hidden' name='MAX_FILE_SIZE' value='1000000'/>
<input type='hidden' name='type' value='{{ type.id|escape }}'/>

<table class='striped wide'>


<tbody>
<tr>
<td>
 <label for='quick'>{%trans "Quickfill" %}:</label>
</td>
<td>
<select id='quick'>
    <option value=''>{%trans "None" %}</option>
    {% for q in quick_fill %}
    <option value='{{ q.id }}'>{{ q.name|escape }}</option>
    {% endfor %}
</select>
</td>
</tr>
</tbody>
{% include "ticket_common.html" %}

<!--
<tr>
<td>
 <label for='category'>Category:</label>
</td>
<td>
<input id='category' name='category'/>
</td>
</tr>
-->

<!--
<tbody>
<tr>
<th colspan='2'>
<button type='button' class='advanced_head'> Advanced options</button>
</th>
</tr>
</tbody>

<tbody class='advanced'>


<tr>
<td>
 <label for='fld'>Some random field:</label>
</td>
<td>
<input id='fld' name='fld' value=""/>
</td>
</tr>


<tr>
<td>
 <label for='fld2'>Some other random field:</label>
</td>
<td>
<input id='fld2' name='fld2' value=""/>
</td>
</tr>



<tr>
<td>
 <label for='insult'>Random insult:</label>
</td>
<td>
<textarea id='insult' name='insult' class='rich_edit' style='height:20em; width:30em;'></textarea>
</td>
</tr>

</tbody>
-->

</table>

<button type='submit'>{%trans "Create issue" %}</button>
<input class='button' type='submit' name='continue' value='{%trans "Create and continue" %}' />

</form>

{% endblock %}
