{% load tuit_extras %}
{% load i18n %}
<form enctype="multipart/form-data" method='post' action='' accept-charset='utf-8'>

<table class='striped wide' id='update_form'>
<tr id='update_head' class='no_print'>
  <th colspan='2'>
    <button type='button' onclick='$("#update_head").hide();$(".ticket_edit").show();'>{%trans "Add new update" %}</button>
  </th>
</tr>

<input type='hidden' name='MAX_FILE_SIZE' value='1000000'/>

  <tbody class='no_print ticket_edit'>
    <input type='hidden' name='id' value='{{ issue.id }}'/>
    <tr>
      <th colspan='2'>
	{%trans "Add new update" %}
      </th>
    </tr>
    
    {% if issue.dependants.all.count %}
    <tr>
      <td>
      </td>
      <td>
	<input class='checkbox' type='checkbox' name='update_dependants' id='update_dependants' {{ update_dependants }}/><label for='update_dependants'>{%trans "Also update dependant issues" %}</label>
      </td>
    </tr>
    {% endif %}
    
    <tr>
      <td>
      </td>
      <td>
	<input class='checkbox' type='checkbox' name='internal' id='internal' onchange='tuit.checkEmailCheckboxes(this.checked?internal_default_mail:external_default_mail);' onclick='tuit.checkEmailCheckboxes(this.checked?internal_default_mail:external_default_mail);' {{ internal }} /><label for='internal'>{%trans "Internal" %}</label>
      </td>
    </tr>
  </tbody>
  {% include "ticket_common.html" %}
  
  <tbody class='no_print ticket_edit'>
    <tr>
      <td>
	<label for='comment'>{%trans "Problem update" %}:</label>
      </td>
      <td>
	<textarea id='comment' name='comment' class='rich_edit' style='height:20em; width:80%;'>{{ update.comment }}</textarea>
	<br>
	
	{%trans "Insert KB article" %}: <input class='kb' id='kb_insert'> <button type='button' onclick='javascript:tuit.insertKbArticle();'>{%trans "Insert" %}</button> <button type='button' onclick='javascript:tuit.previewKbArticle();'>{%trans "Preview" %}</button>
	<div id='kb_preview' style='display:none'>
	  <a id='kb_preview_hide' onclick='javascript:tuit.previewKbArticleHide();'>{%trans "Hide" %}</a>
	  <div id='kb_preview_content'>

	  </div>
	</div>
      </td>
    </tr>
    
    <tr>
      <td>
	<button type='submit'>{%trans "Add new update" %}</button> <button type='reset' onclick='$("#update_head").show();$(".ticket_edit").hide();'>{%trans "Cancel" %}</button>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>
</form>
