{% extends "base.html" %}
{% load i18n %}

{%block sidebar %} 
{% endblock %}

{%block content_wrapper %}
 <div class='content'>
  <div class='content_inner'>
   <div class="widget widget_2">
    <div class="widget_header">
     <h2><a name='top'>{% trans "Manage user profiles" %}</a></h2>
    </div>
    {%block content %}

      <form method='get' action='' accept-charset='utf-8'>
	<table class='striped'>
	  <tr>
	    <th><label for='search'>{% trans "Search" %}</label></th>
	    <td><input id='search' name='search' value='{{ search|escape }}' /></td>
	  </tr>
	</table>
	<button type='submit'>{% trans "Filter" %}</button>
      </form>
    {%endblock %}
   </div>

   {{ user_list_widget.html }}

   <div class='content_post'></div>
   <div class='copyright'>
    <a href='http://www.freecode.no'>© 2010 Freecode AS</a>
   </div>
  </div>
 </div>
{%endblock %}

