%{ These templates define the form attached at the bottom of viewed page. }%


%{ Start of form table }%
%TMPL:DEF{FORM:display:header}%<div class="widget widget_1"><div class="widget_header">%IF{"context preview" then="%TMPL:P{FORM:display:titlename}%" else="%TMPL:P{FORM:display:titlelink}%"}%</div><table class='striped'>%TMPL:P{FORM:display:header:headerrow}%%TMPL:END%


%{ Header }%
%TMPL:DEF{FORM:display:header:headerrow}%%TMPL:END%


%{ Each row }%
%TMPL:DEF{FORM:display:row}%%IF{"context preview" then="<noautolink>"}%<tr><th> %A_TITLE% </th><td>%A_VALUE%</td></tr>%IF{"context preview" then="</noautolink>"}%%TMPL:END%


%TMPL:DEF{FORM:display:rowcontents}%%TMPL:END%

%{ Footer }%
%TMPL:DEF{FORM:display:footer}%</table></div><!-- /foswikiForm -->%TMPL:END%


%TMPL:DEF{FORM:display:titlelink}%<h2> %A_TITLE% %TMPL:P{FORM:display:editlink}%</h2>%TMPL:END%


%TMPL:DEF{FORM:display:titlename}%<noautolink><h2>%A_TITLE%</h2></noautolink> %TMPL:END%


%TMPL:DEF{FORM:display:editlink}%<span class='foswikiSmall'><a href='%SCRIPTURL{edit}%/%WEB%/%TOPIC%?t=%GMTIME{$epoch}%;action=form'>%MAKETEXT{"edit"}%</a></span>%TMPL:END%